<li id="comment-<%=comment.id%>">
    <p>
        <%if(locals.user && user.id==comment.user.id){%>
            <a class="comment-delete-button" href="/comment/destroy-comment/<%=comment.id%>">
                Delete
            </a>
        <%}%>
        <%= comment.content %>
        <br>
        <small>
            <%= comment.user.name %>
        </small>
    </p>
</li>
