<footer>
    <div id="copy">
        <p>
            &copy; Vaibhav Pathak. All Rights Reserved
        </p>
    </div>

    <div id="link">
        <p>
            <a href="/">
                Home
            </a>
        </p>
    </div>
</footer>