<form action="/user/change-password/<%=token%>" method="post">
    <input type="password" name="password" placeholder="Enter Password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <input type="submit" value="Lets Go">
</form>