<link rel="stylesheet" href="<%= assetPath('css/forgot.css') %>">


<div id="forgot_password">
    <div class="password-recovery">

        <h2>Password Recovery</h2>

        <form action="/user/reset-password" method="post">
            <div class="form-group">
                <label for="email">Enter your Email ID:</label>
                <input type="email" name="email" placeholder="example@example.com" required>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>