<link rel="stylesheet" href="/css/home.css">

<h1 id="heading">Codeial/<%=title%></h1>

<div id="user-container">

    <section id="feed-posts">
        <%if(locals.user){%>
    <h4>Posts</h4>
    <form action="/post/create-post" id="new-post-form" method="post">
        <textarea name="content" cols="30" rows="3" placeholder="Type here..."></textarea>
        <input type="submit" value="Post">
    </form>
    <%}%>
    
    
    <section id="posts-list-container">
        
    <ul>
        <% for(post of posts){ %>
            
        <%-include('_post.ejs')-%>
            
        <%} %>
    </ul>
    </section>

    
</section>

    <section id="user_list">
        <h4>Friends</h4>
    <ul>
        <%for(u of all_user){%>
            <li>
                <a href="/user/profile/<%=u.id%>">
                    <%=u.name%>
                </a>
            </li>
            <%}%>
        </ul>
    </section>
</div>


<script src="/js/home_post.js"></script>