<style>
    .confirmation {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
        min-height: 25%;
        margin-top: 10%;
    }

    h2 {
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 10px;
        line-height: 1.5;
    }
</style>

<div class="confirmation">
    <h2>Please Wait</h2>
    <p>A confirmation email has been sent to your mailbox.</p>
    <p>Click on the link provided in the email to confirm your email address.</p>
</div>