#chatting-engine {
    height: 190px;
    width: 217px;
    position: fixed;
    right: 1px;
    bottom: 0px;

    background-color: white;
    border: 2px solid black;

    #chat {
        height: 89%;
        width: 100%;
        margin: 0px;
        padding: 0px;
        list-style: none;
        overflow: scroll;

        .other-message {
            
            position: relative;
            p {
                width: 50%;
                background-color: aqua;
                text-align: center;
                overflow-wrap: break-word;
            }

            sub {
                position: absolute;
                top: 20px;
                font-size: 10px;
            }
        }

        .self-message {

            position: relative;

            p {
                width: 50%;
                text-overflow: ellipsis;
                background-color: aquamarine;
                text-align: center;
                margin-left: 50%;
            }

            sub {
                font-size: 10px;
                position: absolute;
                right: 0px;
                top: 21px;
            }
        }
    }

    #chat::-webkit-scrollbar {
        display: none;
    }

    #chatting-form {
        display: flex;

        #send-btu {
            background-color: #42f04f;
            color: white;
        }
    }
}

#chatting-engine::before{
    content: "Chat Engine";
    position: absolute;
    top: -24px;
    left: 26%;
    font-weight: bolder;
    font-size: 19px;
}