#heading {
    width: 60%;
    display: inline-block;
}

#user-container {
    display: flex;

    #sec_profile{
        width: 198px;
        height: 42px;
    }

    #profile{
        border: 2px solid;
        width: 100%;
        height: 100%;
        display: flex;
        border-radius: 32px;
        padding: 5px;
        position: relative;

        img {
            border-radius: 50%;
            width: 26%;
            height: 42px;
        }

        a {
            text-decoration: none;
            color: black;
            position: absolute;
            right: 12px;
            top: 15px;
            font-size: 18px;
        }
    }

    #feed-posts {
        margin-left: 8%;
        margin-right: 1%;

        #post-form {
            #content {
                border-radius: 27px;
                width: 176px;
                height: 24px;
                padding-left: 11px;
            }

            #submit {
                border: none;
                border-radius: 20px;
                padding: 6px;
                font-size: 15px;
                width: 54px;
                height: 29px;
                background-color: #e4e4e4;
            }
        }
    }


    aside {
        width: 30%;
        border-left: 2px solid black;
        height: 31rem;

        #friend_list {

            h4 {
                padding-left: 30px;
                font-size: 22px;
                margin-bottom: 10px;
            }

            ul {
                list-style: none;
                padding-left: 30px;


                li {
                    display: flex;
                    justify-content: space-between;
                    width: 17rem;
                    position: relative;

                    #name {
                        position: relative;

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                        }

                        p {
                            position: absolute;
                            top: 14%;
                            left: 18%;
                        }
                    }

                    #remove {
                        background-color: blue;
                        border-radius: 10px;
                        height: 21px;
                        margin-top: 26px;

                        a {
                            text-decoration: none;
                            color: white;
                            padding: 8px;
                        }
                    }
                }
            }


        }

        #user_list {
            border-top: 2px solid black;

            h4 {
                padding-left: 30px;
                font-size: 22px;
                margin-bottom: 10px;
            }

            ul {
                list-style: none;
                padding-left: 30px;
                margin-bottom: 10px;

                li {
                    position: relative;

                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }

                    a {
                        text-decoration: none;
                        color: black;
                        position: absolute;
                        top: 25%;
                        left: 15%;
                    }
                }
            }
        }
    }
}

#posts-list-container {
    width: 46rem;


    #post-list>* {
        width: 34%;

        #content {
            border: 2px solid black;
            margin: 4px;
            height: 5rem;
            width: 13rem;
            border-radius: 41px;
            text-align: center;
            overflow: hidden;

            p {
                position: relative;
                vertical-align: middle;
                top: 35%;
                margin: 0px;
                overflow-wrap: break-word;
            }
        }



        #head {
            position: relative;
            width: 167px;
            margin: auto;

            .delete-button {
                position: absolute;
                right: 17px;
            }
        }

        .post-comments-list {
            ul {
                list-style: none;
                padding: 0px;
            }
        }

        #like-comment {
            display: block;
            width: 164px;
            margin: 7px auto;

            .toggle-like-button {
                text-decoration: none;
                color: white;
                background-color: blue;
                border-radius: 15px;
                padding: 4px;
            }
        }
    }

    #post-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }
}