#heading {
    width: 60%;
    display: inline-block;
}

#user-container {
    display: flex;

    #feed-posts {
        width: 70%;
    }


    aside{
        width: 30%;
        border-left: 2px solid black;
        height: 20rem;

        #user_list{
            border-top: 2px solid black;
        }
    }
}

