#chatting-engine {
  z-index: 10000;
  height: 190px;
  width: 217px;
  position: fixed;
  right: 1px;
  bottom: 0px;
  background-color: white;
  border: 2px solid black; }
  #chatting-engine #chat {
    height: 89%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;
    overflow: scroll;
    display: flex;
    flex-direction: column; }
    #chatting-engine #chat li {
      width: 100%;
      height: 30%;
      display: flex;
      flex-direction: column;
      text-align: right;
      align-items: self-end;
      margin: 10px 1px; }
    #chatting-engine #chat .other-message {
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      #chatting-engine #chat .other-message p {
        background-color: aquamarine;
        margin: 0;
        padding: 5px 10px;
        width: auto;
        border: 2px solid darkgreen;
        border-radius: 19px;
        min-width: 35px;
        text-align: center; }
    #chatting-engine #chat .self-message {
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-end; }
      #chatting-engine #chat .self-message p {
        background-color: aquamarine;
        margin: 0;
        padding: 5px 10px;
        width: auto;
        border: 2px solid darkgreen;
        border-radius: 19px;
        min-width: 35px;
        text-align: center; }
  #chatting-engine #chat::-webkit-scrollbar {
    display: none; }
  #chatting-engine #chatting-form {
    display: flex; }
    #chatting-engine #chatting-form #send-btu {
      background-color: #42f04f;
      color: white; }

#chatting-engine::before {
  z-index: 1;
  content: "Chat Engine";
  position: absolute;
  top: -24px;
  left: 26%;
  font-weight: bolder;
  font-size: 19px; }
