#chatting-engine {
  height: 190px;
  width: 217px;
  position: fixed;
  right: 1px;
  bottom: 0px;
  background-color: white;
  border: 2px solid black; }
  #chatting-engine #chat {
    height: 89%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;
    overflow: scroll; }
    #chatting-engine #chat .other-message p {
      width: 50%;
      background-color: aqua;
      text-align: center;
      overflow-wrap: break-word; }
    #chatting-engine #chat .self-message p {
      width: 50%;
      text-overflow: ellipsis;
      background-color: aquamarine;
      text-align: center;
      margin-left: 50%; }
  #chatting-engine #chat::-webkit-scrollbar {
    display: none; }
  #chatting-engine #chatting-form {
    display: flex; }
    #chatting-engine #chatting-form #send-btu {
      background-color: #42f04f;
      color: white; }
