header {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: aquamarine; }
  header nav {
    display: flex;
    justify-content: space-between; }
    header nav h1 {
      margin-left: 10px; }
      header nav h1 a {
        text-decoration: none;
        color: #fff;
        font-weight: 800;
        font-size: 28px; }
    header nav #second {
      width: 155px;
      list-style: none;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-right: 8px;
      align-items: center;
      margin-right: 8px; }
      header nav #second li a {
        text-decoration: none;
        color: #fff;
        font-size: 21px; }
      header nav #second img {
        width: 40px;
        height: 40px;
        border-radius: 50%; }
      header nav #second .dropdown {
        position: relative;
        display: inline-block; }
      header nav #second .dropdown > input[type="checkbox"] {
        position: absolute;
        left: -100vw; }
      header nav #second .dropdown > ul {
        position: absolute;
        z-index: 999;
        display: block;
        left: -105vw;
        top: calc(1.5em + 14px);
        border: 1px solid #8c8c8c;
        background: #fff;
        padding: 6px 0;
        margin: 0;
        list-style: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15); }
      header nav #second .dropdown > ul a {
        display: block;
        padding: 6px 15px;
        text-decoration: none;
        color: #333; }
      header nav #second .dropdown > ul a:hover,
      header nav #second .dropdown > ul a:focus {
        background: #ececec; }
      header nav #second .dropdown > input[type="checkbox"]:checked ~ ul,
      header nav #second .dropdown > ul:target {
        left: -62px;
        top: 45px; }
      header nav #second .dropdown a.close {
        display: none; }
      header nav #second .dropdown > ul:target ~ a.close {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        text-indent: -100vw;
        z-index: 1000; }
