header {
  background-color: aquamarine;
  display: flex;
  height: 65px; }
  header h1 {
    margin-left: 10px; }
    header h1 a {
      text-decoration: none;
      color: white; }
  header ul {
    display: flex;
    margin-left: 77%;
    margin-top: 13px; }
    header ul li {
      list-style: none;
      margin: 10px; }
      header ul li a {
        color: white;
        font-size: 2rem;
        text-decoration: none;
        font-size: 1.2rem; }
