#heading {
  width: 60%;
  display: inline-block; }

#user-container {
  display: flex; }
  #user-container #feed-posts {
    width: 70%; }
  #user-container #user_list {
    width: 30%;
    border-left: 2px solid black;
    height: 20rem; }
